<!DOCTYPE html>
<html>
<head>
<title>Data Frame Comparison</title>
</head>

<style>

.headerrow {
            border: 1px solid #e1e1e8;
            background-color: #f5f5f5;
            padding: 2em;
        }

</style>

<body>

<h1>Column Summary</h1>

<table border="1" cellpadding="5" cellspacing="5">
	<tr>
	<th>Column</th>
	<th>DF 1 Data Type</th>
	<th>DF 2 Data Type</th>
	<th>Same Data Type</th>
	<th>DF Coverage</th>
	</tr>
	{% for index, row in comp['columns'].iterrows() %}
		<tr>
		<td>{{ index }}</td>
		<td>{{ row['df1_type'] }}</td>
		<td>{{ row['df2_type'] }}</td>
		<td>{{ row['diff'] }}</td>
		<td>{{ row['coverage'] }}</td>
		</tr>
	{% endfor %}
</table>

<h1>Column Summary for Non-Numeric Variables</h1>

<table border="1" cellpadding="5" cellspacing="5">
	<tr>
	<th>Column</th>
	<th>DF 1 Missing Rate</th>
	<th>DF 2 Missing Rate</th>
	<th>DF 1 Mode Rate</th>
	<th>DF 2 Mode Rate</th>
	<th>Chi-Square P-Value</th>
	</tr>
	{% for index, row in comp['char_stats'].iterrows() %}
		<tr>
		<td>{{ row['variable'] }}</td>
		<td>{{ row['missing_df1'] }}</td>
		<td>{{ row['missing_df2'] }}</td>
		<td>{{ row['pct_mode_df1'] }}</td>
		<td>{{ row['pct_mode_df2'] }}</td>
		<td>{{ row['chisq_pval'] }}</td>
		</tr>
	{% endfor %}
</table>

<h1>Colmn Summary for Numeric Variables</h1>

<table border="1" cellpadding="5" cellspacing="5">
	<tr>
	<th>Column</th>
	<th>DF 1 Missing Rate</th>
	<th>DF 2 Missing Rate</th>
	<th>DF 1 Zero Rate</th>
	<th>DF 2 Zero Rate</th>
	<th>DF 1 Mean Rate</th>
	<th>DF 2 Mean Rate</th>
	<th>DF 1 Min Rate</th>
	<th>DF 2 Min Rate</th>
	<th>DF 1 Max Rate</th>
	<th>DF 2 Max Rate</th>
	<th>KS P-Value</th>
	</tr>
	{% for index, row in comp['num_stats'].iterrows() %}
		<tr>
		<td>{{ row['variable'] }}</td>
		<td>{{ row['missing_df1'] }}</td>
		<td>{{ row['missing_df2'] }}</td>
		<td>{{ row['zero_df1'] }}</td>
		<td>{{ row['zero_df2'] }}</td>
		<td>{{ row['mean_df1'] }}</td>
		<td>{{ row['mean_df2'] }}</td>
		<td>{{ row['min_df1'] }}</td>
		<td>{{ row['min_df2'] }}</td>
		<td>{{ row['max_df1'] }}</td>
		<td>{{ row['max_df2'] }}</td>
		<td>{{ row['ks_pval'] }}</td>
		</tr>
	{% endfor %}
</table>

<h1>ECDF Comparison Plots for Common Numeric Variables</h1>
{% for col in comp['nplots_bytes'].keys() %}
<div>
<h2>{{ col }}</h2>
<img src="{{ comp['nplots_bytes'][col] }}">
</div>
{% endfor %}


</body>
</html>